@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html, body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

canvas {
  display: block;
  pointer-events: none;
}

.title{
  position: absolute;
  top: 0;
  margin: 0;
  user-select: none;
  
  & .icon{
    cursor: pointer;
    vertical-align: middle;
    width: 30px;
  }
}

#tutorial{
  position: absolute;
  top: 30px;
  left: 15px;

  & *{
    line-height: 0.75;
  }

}